body{
    background-color:rgb(134, 211, 255);
    min-height:100vh;
    background-color: #0499f2;
background-image: linear-gradient(315deg, #26f596 0%, #007dc5 74%);
    overflow-x: hidden;
        background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');