.Header{
    display: flex;
    align-items: center;
    padding:20px 20px;
    padding-bottom: 0px;
}
.mobileMenu{
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width:100%;
    background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5.5px );
-webkit-backdrop-filter: blur( 5.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.mobileLinks{
    height: 70%;
    width:80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.mobileLinks a{
    color: white;
    font-size: 40px;
    font-family: 'Bungee', cursive;
   
    text-decoration: none;
}
.Ham{
    display: none;
    position: relative;
    z-index: 4;
}
.logo_div{
    flex:0.4;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 150px;
    position: relative;
    z-index: 4;
}
.logo_div img{
    height:90px;
    width:170px;
}
.links{
    flex:0.6;
    display: flex;
align-items: center;
justify-content: space-around;
}
.links a{
    color: white !important;;
    font-size: 40px;
    font-family: 'Bungee', cursive;
    color:white;
    text-decoration: none;
}
.lore{
    
    color:white;
    margin-top: 60px;
    padding:20px 150px;
}
.lore h1{
    font-size: 40px;
    font-family: 'Bungee', cursive;
    
}
.lore p{
    font-size: 25px;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.roadmap{
    margin-top: 100px;
    padding:0 280px;
    
}
.roadmap h1{
    color:white;
    text-align: center;
    font-size: 40px;
    font-family: 'Bungee', cursive;
    margin-bottom: 40px;
}
.roadmap1{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.phase{
    flex:0.4;
    display: flex;
    align-items: center;
    justify-content: left;
    color:#0499f2;
    font-family: 'Bungee', cursive;
}
.phase1{
    flex:0.6;
}
.phase_div{
    background-color: white;
    padding: 10px 15px;
    
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.phase_div1{
    background-color: white;
    padding:10px 15px;
    border-radius: 10px;
}

.phase1 p{
    

    color:#0499f2;
    font-size: 20px;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.team{
    color:white;
    text-align: center;
    margin-top: 100px;
    
    padding:50px 150px;
    background-position: center;
}
.team h1{
    font-size: 40px;
    margin-bottom: 40px;
    font-family: 'Bungee', cursive;
}
.team_imgs{
    display: flex;
    align-items: center;
    justify-content: center;
}
.team_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    margin-left: 30px;
    margin-right: 30px;
}
.team_img img{
    height: 200px;
    width:200px;
    border-radius: 10px;
    border:4px solid white;
}
.team_img p{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.team_img span{
    font-size: 14px;
    color:white;
    font-family: 'Montserrat', sans-serif;
}
.faq{
    padding:10px 150px;
    color:white;
}
.faq h1{
    text-align: left;
    font-family: 'Bungee', cursive;
    font-weight: 600;
    font-size: 40px;
}
.faq p{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    font-family:'Montserrat', sans-serif;
}
.faq.accordian-body{
    background-color: #12f3cd!important;
    color: black !important;
  }
.footer{
    margin-top: 100px;
}
.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 10px;
}
.discord{
    background-color: white;
    width: fit-content;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content:center;
    padding:5px;
    margin-left: 10px;
    border-radius: 5px;
}
.twitter{
    background-color: white;
    width: fit-content;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 5px;
    padding:5px;
}
.footer p{
    color:white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
    margin-top: 20px;
}
@media(max-width:700px){
    .links{
        display: none;
    }
    .Ham{
        display: block;
        flex:0.6;
        display: flex;
        justify-content: right;
    }
    .logo_div{
        padding-left: 20px;
    }
    .logo_div img{
        height: 70px;
        width: 130px;
    }
    .mobileMenu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lore{
        padding:10px 70px;
    }
    .lore h1{
        font-size: 35px;
        
        
    }
    .lore p{
        font-size: 18px;
      
    }
    .roadmap{
        padding:0 70px;
    }
    .team_imgs{
        flex-direction: column;
    }
    .team_img span{
        margin-bottom: 20px;
    }
    .faq{
        padding:10px 70px;
    }
}
@media(max-width:500px){
    .roadmap1{
    flex-direction: column;
    }
    .phase{
        margin-bottom: 20px;
    }
    .lore{
        padding:10px 40px;
    }
    .roadmap{
        padding:0px 40px;
    }
    .team{
        padding:0px 100px;
    }
    .faq{
        padding:10px 40px;
    }
}
@media(max-width:400px){
    .lore{
        padding:10px 20px;
    }
    .roadmap{
        padding:0px 20px;
    }
    .team{
        padding:0px 100px;
    }
    .faq{
        padding:10px 20px;
    }
}